.about {
    height: 1023px;
}

.aboutContainer {
    height: 100%;
    /* border: 1px dotted red; */
}

.rowContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.aboutPic img {
    width: 200px;
    /* height: 250px; */
    /* height: 200px; */
    border-radius: 5px;
}

.aboutPic1 img {
    width: 175px;
    border-radius: 5px;
}

.contentRow {
    display: flex;
    flex-direction: row;
    border: 1px dotted rgb(210, 201, 201);
    height: 320px;
    border-radius: 5px;
    /* justify-content: center; */
}

.contentRow:hover {
    border: 1px solid black;
}

.aboutRowImageContainer {
    /* border: 1px dotted green; */
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aboutRowTextContainer {
    /* border: 1px dotted black; */
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}

.aboutRowTextTop h1 {
    padding-bottom: 20px;
    margin: 0;
    color: #006160;
}

.aboutRowTextMid h2 {
    padding: 0;
    margin: 0;
}

.aboutRowTextMid p {
    padding: 0;
    margin: 0;
    color: #0D3472;
}