.about {
    height: 1350px;
}

.aboutContainer {
    height: 100%;
    /* border: 1px dotted red; */
}

.rowContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.aboutPic img {
    width: 200px;
    /* height: 250px; */
    /* height: 200px; */
    border-radius: 5px;
}

.aboutPic1 img {
    width: 175px;
    border-radius: 5px;
}

.contentRow {
    display: flex;
    flex-direction: row;
    border: 1px dotted rgb(210, 201, 201);
    height: 320px;
    border-radius: 5px;
    /* justify-content: center; */
}

.contentRow:hover {
    border: 1px solid black;
}

.aboutRowImageContainer {
    /* border: 1px dotted green; */
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aboutRowTextContainer {
    /* border: 1px dotted black; */
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}

.aboutRowTextTop h1 {
    padding-bottom: 20px;
    margin: 0;
    color: #006160;
}

.aboutRowTextMid h2 {
    padding: 0;
    margin: 0;
}

.aboutRowTextMid p {
    padding: 0;
    margin: 0;
    color: #0D3472;
}

.guide {
    color: crimson;
}

.aboutPic0 img {
    width: 230px;
    border-radius: 5px;
}

.aboutPic2 img {
    width: 190px;
    border-radius: 5px;
}

@media screen and (max-width: 1200px) {
    .aboutRowTextTop h1 {
        font-size: 1.5rem;
    }

    .contentRow {
        width: 98%;
        margin: 0 auto;
    }
}

@media screen and (max-width: 900px) {
    .about {
        height: 1800px;
    }

    .contentRow {
        flex-direction: column;
        height: 430px;
        justify-content: center;
        align-items: center;
    }

    .aboutRowTextTop h1 {
        padding-top: 20px;
        font-size: 1.2rem;
    }

    .aboutRowTextMid p {
        font-size: 1rem;
    }

    .aboutPic0 img {
        width: 300px;
    }

    .aboutPic img {
        width: 225px;
    }

    .aboutPic1 img {
        width: 150px;
    }

    .aboutPic2 img {
        width: 165px;
    }
}



@media screen and (max-width: 767px) {
    .about {
        height: 1750px;
    }

    .aboutRowTextContainer {
        width: 80%;
    }

    .aboutRowTextTop h1 {
        font-size: 1.2rem;
    }

    .aboutRowTextMid p {
        font-size: 1rem;
    }

    .aboutPic0 img {
        width: 300px;
    }

    .aboutPic img {
        width: 210px;
    }

    .aboutPic1 img {
        width: 140px;
    }

    .aboutPic2 img {
        width: 170px;
    }
}

@media screen and (max-width: 600px) {
    .about {
        height: 1750px;
    }

    .aboutRowTextContainer {
        width: 80%;
    }

    .aboutRowTextTop h1 {
        font-size: 1.2rem;
    }

    .aboutRowTextMid p {
        font-size: 1rem;
    }

    .aboutPic0 img {
        width: 230px;
    }

    .aboutPic img {
        width: 150px;
    }

    .aboutPic1 img {
        width: 100px;
    }

    .aboutPic2 img {
        width: 140px;
    }
}

@media screen and (max-width: 420px) {
    .about {
        height: 1750px;
    }

    .aboutRowTextContainer {
        width: 80%;
    }

    .aboutRowTextTop h1 {
        font-size: 1.2rem;
    }

    .aboutRowTextMid p {
        font-size: 1rem;
    }

    .aboutPic0 img {
        width: 150px;
    }

    .aboutPic img {
        width: 140px;
    }

    .aboutPic1 img {
        width: 68px;
    }

    .aboutPic2 img {
        width: 100px;
    }
}