.formSectionContainer {
    height: 1023px;
    /* margin: 20px 0; */
    font-weight: bold;
    /* color: white; */
    /* padding: 20px; */
    /* margin: 10px; */
    /* border: 1px dotted red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.formContainer:hover {
    border: 1px solid black;
}

.formContainer {
    border: 1px dotted rgb(210, 201, 201);
    height: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px dotted green; */
    border-radius: 10px;
    padding-left: 20px;
}

.formBackground {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* border: 1px dotted black; */
    /* background-color: whitesmoke; */
}

.labelContainer {
    /* height: 100%; */
    /* width: 100%; */
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: space-between; */
    height: 665px;
    /* border: 1px dotted red; */
}

.textarea-font-size {
    font-size: 2rem;
}


label {
    font-size: 2rem;
    color: #006160;
}

input {
    display: block;
    font-size: 2rem;
    /* border: 1px dotted green; */
}

.labelFull {
    /* display: block; */
}

.inputFull {
    /* display: block; */
    width: 85%;
    margin-bottom: 15px;

    /* width: 50%; */
}

textarea {
    display: block;
    height: 200px;
    width: 85%;
}

.error {
    color: crimson;
    font-size: 1.875rem;
}

.formTitle {
    color: #0D3472;
}

.formTitle h1 {
    padding-bottom: 10px;
    font-size: 3rem;
}

.inputSubmit {
    background-color: #0D3472;
    color: white;
    border-radius:5px;
    padding: 5px 15px;
    margin-top: 10px;
}

.captcha {
    margin-bottom: 20px;
}

.inputSubmit:hover {
    border: 2px solid #006160;
}

.emailImg {
    width: 50px;
    padding-left: 20px;
}

.thankYouContainer h1 {
    color: #0D3472
}

.thankYouContainer h3 {
    color: #006160
}

.captchaConfirm {
    padding-top: 20px;
    padding-bottom: 0;
    color: crimson;
}

@media screen and (max-width: 1250px) {
    .formContainer {
        border: none;
    }

    .formContainer:hover {
        border: none;
    }

    .thankYouContainer {
        width: 90%;
        /* border: 1px dotted red; */
        margin: 0 auto;
    }
}

@media screen and (max-width: 800px) {
    .formSectionContainer {
        height: 100%;
    }

    .formTitle h1 {
        font-size: 1.8rem ;
    }

    label {
        font-size: 1.4rem;
    }

    .textarea-font-size {
        font-size: 1.4rem;
    }

    .error {
        font-size: 1.4rem;
    }

    .thankYouContainer h1 {
        /* font-size: 1.8rem; */
    }

    .thankYouContainer h3 {
        font-size: 1.4rem;
    }

    .labelContainer {
        height: 100%;
        /* margin-bottom: 50px; */
    }

    .formBackground {
        margin: 25px 0;
    }

    .thankYouContainer {
        height: 600px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

@media screen and (max-width: 725px) {
    .thankYouContainer {
        width: 80%;
    }
}

@media screen and (max-width: 500px) {
    .thankYouContainer h1 {
        font-size: 1.7rem;
    }
}

@media screen and (max-width: 367px) {
    .formTitle h1 {
        font-size: 1.8rem ;
    }

    label {
        font-size: 1.4rem;
    }

    .textarea-font-size {
        font-size: 1.4rem;
    }

    .captcha {
        width: 20px;
    }

    .thankYouContainer h1 {
        font-size: 1.4rem;
    }
}