.factSectionContainer {
    height: 180px;
    margin: 20px 0;
    color: white;
    font-weight: bold;
    padding: 25px 0;
}

.factContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 1px dotted green; */
    background-color: #0D3472;
    padding-left: 20px;
    border-radius: 5px;
}

.factTop {
    width: 100%;
    /* border: 1px dotted white; */
    padding-bottom: 15px;
}

.factMid {
    width: 100%;
}

.factImg {
    width: 50px;
    padding-left: 20px;
}