.footer {
    z-index: 0;
    background-color: black;
    color: white;
}

.footerContainer {
    height: 186px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 1px dotted yellow; */
}

.leftFooter {
    /* border: 1px solid white; */
    /* height: 80%; */
}

.rightFooter {
    height: 80%;
    /* border: 1px solid white; */
}

.seeYou {
    font-weight: bold;
}

.iconContainer {
    display: flex;
    justify-content: space-between;
    width: 175px;
    /* border: 1px dotted white; */
}

.icon {
    height: 50px;
    z-index: 1;
    position: relative;
}

@media screen and (max-width: 1200px) {
    .footerContainer {
        margin-left: 20px;
    }

    .rightFooter {
        margin-right: 20px;
    }
}

@media screen and (max-width: 767px) {
    .footerContainer {
        height: 300px;
    }
}