
.header {
    height: 9vh;
    /* border: 1px solid black; */
}

.headerMenu {
    width: 35%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* border: 1px solid black; */
}

.headerMenu li {
    font-weight: 700;
    font-size: 22px;
    display: flex;
    flex-direction: column-reverse;
    /* border: 1px solid green; */
}

.headerContainer {
    display: flex;
    flex-direction: row;
}

.logoContainer {
    height: 5vh;
}

.logoContainer img {
    height: 100%;
    border-radius: 10%;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: #FF6DAD;
}

.active {
    color: #FF6DAD;
    text-decoration: underline;
}