
.header {
    height: 9vh;
    /* border: 1px solid black; */
}

.headerMenu {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* border: 1px solid black; */
    /* width: 200px; */
    /* border: 1px dotted red; */
}

.headerMenu li {
    font-weight: 700;
    display: flex;
    flex-direction: column-reverse;
    /* border: 1px solid green; */
}

.newContainer {
    width: 35%;
    display: flex;
    flex-direction: row;
    /* border: 1px solid black; */
}

.headerContainer {
    display: flex;
    flex-direction: row;
    /* border: 1px dotted green; */
    justify-content: space-between;
}

.logoContainer {
    height: 5vh;
}

.logoContainer img {
    height: 100%;
    border-radius: 5px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: #C85380;
}

.active {
    /* text-decoration: underline; */
    border-bottom: 5px solid #C85380;
}

.newBanner {
    height: 5.5vh;
    /* border: 1px dotted red; */
    font-weight: bold;
    background-color: #0D3472;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 320px;
    border-radius: 5px;
}

.newBannerTop {
    /* height: 100%; */
}