
.header {
    height: 120px;
}

.headerMenu {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.headerMenu li {
    font-weight: 700;
    display: flex;
    flex-direction: column-reverse;
}

.newContainer {
    width: 35%;
    display: flex;
    flex-direction: row;
    /* border: 1px solid black; */
}

.headerContainer {
    display: flex;
    flex-direction: row;
    /* border: 1px dotted green; */
    justify-content: space-between;
}

.logoContainer {
    height: 67px;
}

.logoContainer img {
    height: 100%;
    border-radius: 5px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: #006160;
}

.active {
    /* text-decoration: underline; */
    border-bottom: 5px solid #006160;
}

.newBanner {
    height: 74px;
    font-weight: bold;
    background-color: #0D3472;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 320px;
    border-radius: 5px;
}

@media screen and (max-width: 1200px) {
    .newContainer {
        width: 350px;
        /* border: 1px dotted red; */
    }
}

@media screen and (max-width: 767px) {
    .newContainer {
        /* width: 350px; */
        border: 1px dotted red;
        display: hidden;
    }
}