.hero {
    height: 770px;
}

.gradient {
    background: linear-gradient(110deg, #C7E6FF, #C7E6FF 50%, transparent 0), linear-gradient(110deg, #006160 90%, #0D3472 0);
}

.heroContainer {
    display: flex;
    justify-content: space-between;
}

.heroLeftContainer {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.topText {
    background-color: #0D3472;
    color: #E0E0E0;
    text-align: center;
    border-radius: 20px;
    height: 50px;
    font-weight: 700;
    padding: 5px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.midText {
    margin: 15px 0;
    color: #0D3472;
}

.btmText {
    color: #006160;
}

.heroRightContainer {
    width: 520px;
}

.heroImageContainer {
    height: 700px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heroImage {
    height: 100%;
}

.tapImg {
    width: 100px;
    margin: 10px 0;
}

@media screen and (min-width: 1200px) {

}