.hcHide {
    display: none;
    visibility: hidden;
}

.hcDayContainer {
    /* border: 1px dotted red; */
    padding: 8px 0;
}

.hcContainer h3 {
    /* margin-bottom: 10px; */
    font-size: 2.4rem;
}

.hcContainer h1 {
    font-size: 1.4rem;
    color: #006160;
}

.hcContainer h2 {
    font-size: 1.2rem;
    color: #0D3472
}

.verticalDivider {
    /* width: 3px; */
    height: 98%; /* Set the height of the divider */
    margin: 0 auto; /* Center the divider horizontally */
    border-left: 1px solid rgba(0, 0, 0, 0.2); /* Adjust the color and opacity as needed */
}

@media screen and (max-width: 1200px) {
    .hcContainer {
        /* border: 1px dotted black; */
        margin-left: 40px;
        /* height: 150px; */
        margin-bottom: 50px;
    }

    .justDaysContainer {
        display: flex;
        flex-direction: row;
        width: 90%;
        /* border: 1px dotted red; */
        justify-content: space-between;
    }
}

@media screen and (max-width: 767px) {
    .hcHide {
        display: block;
        visibility: visible;
    }
}

@media screen and (max-width: 550px) {
    .justDaysContainer {
        flex-direction: column;
    }

    .hcContainer {
        height: 200px;
        display: flex;
    }

    .bzHours {
        width: 80%;
    }

    .hcDayContainer {
        width: 100%;
    }
}

@media screen and (max-width: 425px) {
    .bzHours h3 {
        font-size: 1.8rem;
    }

    .bzHours {
        /* display: flex; */
        /* justify-content: center; */
        /* align-items: center; */
    }
}
