.locationTitle {
    color: #006160;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.locationAllWrap {
    background-color: #C1F2E8;
}

.locationBody h1, .locationBody h2, .locationBody h3 {
    margin: 0;
    padding: 0;
}

.locationBody {
    background-color: #C7E6FF;
    padding: 50px 0;
}

.locationWrapper {
    height: 602px;
    display: flex;
    flex-direction: row;
    /* border: 1px dotted green; */
}

.locationContainer {
    min-width: 75%;
    height: 100%;
    /* border: 1px dotted red; */
}

.hoursContainer {
    color: #0D3472;
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: 1px dotted orange; */
}

.hoursList {
    /* height: 80%; */
    /* border: 1px dotted black; */
    padding-left: 20px;
}

.hoursList h4 {
    padding-bottom: 13px;
    color: black;
}

.hoursList h2 {
    padding-bottom: 30px;
}

.todayHighlight {
    background-color: #0D3472;
    border-radius: 5px;
    padding: 0 25px;
    color: white;
}

.addressBack {
    color: #006160;
}

.mapContainer {
    width: 100%;
    height: 602px;
    border-radius: 5px;
}

@media screen and (max-width: 1200px) {
    .locationWrapper {
        justify-content: space-around;
        height: 550px;
    }

    .hoursContainer {
        width: initial;
    }

    .mapContainer {
        width: 97%;
        height: 550px;
        border-radius: 5px;
        margin: 0 auto;
    }

    .hoursList h3 {
        font-size: 1.2rem;
    }

    .hoursList h4 {
        font-size: 1.1rem;
    }

    .addressBack h1 {
        font-size: 1.5rem;
    }

    .addressBack h2 {
        font-size: 1.5rem;
    }

    .locationBody {
        padding: 20px 0;
    }
}

@media screen and (max-width: 767px) {
    .dayContainer {
        display: none;
        visibility: hidden;
    }

    .locationWrapper {
        flex-direction: column;
        height: 550px;
    }

    .mapContainer {
        height: 475px;
    }
}

@media screen and (max-width: 535px) {
    .locationWrapper {
        height: 600px;
    }

    .mapContainer {
        height: 500px;
    }
}

@media screen and (max-width: 384px) {
    .locationWrapper {
        height: 475px;
    }

    .mapContainer {
        height: 375px;
    }
}