.otherProductsTitle {
    border: 1px dotted red;
}

.opCardContainer {
    height: 602px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* border: 1px solid black; */
}

.opCard {
    height: 100%;
    border: 1px dotted black;
    width: 24%;
}

.opCardImg {
    height: 72%;
    border: 1px dotted red;
}

.opCardPrice {
    height: 28%;
    border: 2px dotted black;
}