.services {
    /* height: 370px; */
    /* background-color: whitesmoke; */
    margin: 50px 0;
}

.cardContainer {
    height: 296px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.serviceCard {
    width: 347px;
    background-color: #F3EADA;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.serviceCardContainer {
    width: 90%;
    /* border: 1px dotted black; */
    display: flex;
    flex-direction: row;
}

.leftServiceCard {
    width: 65%;
    /* border: 1px dotted red; */
}

.topServiceCard {
    color: #0D3472;
    font-weight: bold;
    /* border: 1px dotted black; */
}

.midServiceCard {
    margin: 20px 0;
    color: #4683CF;
    font-weight: bold;
    /* border: 1px dotted black; */
}

.btmServiceCard {
    color: #006160;
    font-weight: bold;
    /* border: 1px dotted black; */
}

.rightServiceCard {
    width: 35%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* border: 1px dotted black; */
}

.bearContainer {
    /* width: 10px; */
    /* border: 1px dotted black; */
}

.bearContainer img {
    width: 100px;
}

/* 1200 to 1001 */
@media screen and (max-width: 1200px) {
    .serviceCard {
        width: 320px;
    }

    .cardContainer {
        height: 250px;
        /* width: 80%; */
    }
}

@media screen and (max-width: 1000px) {
    .topServiceCard p {
        font-size: 1.2rem;
    }

    .midServiceCard h3 {
        font-size: 1.3rem;
    }

    .serviceCard {
        width: 32%;
    }

    .cardContainer {
        height: 275px;
    }

    .bearContainer img {
        width: 80px;
    }
}

@media screen and (max-width: 767px) {
    .cardContainer {
        flex-direction: column;
        align-items: center;
        /* border: 2px dotted black; */
        height: 700px;
    }

    .services {
        height: 770px;
        /* border: 1px dotted red; */
        margin: 0;
    }

    .serviceCard {
        width: 325px;
    }

    .serviceCardContainer {
        height: 220px;
        width: 325px;
        /* padding-top: 5px; */
        /* border: 1px dotted red; */
    }

    .leftServiceCard {
        margin-left: 20px;
        margin-top: 15px;
    }
}