
.header {
    height: 9vh;
    /* border: 1px solid black; */
}

.headerMenu {
    display: flex;
    flex-direction: row;
    width: 40%;
    justify-content: space-around;
    /* border: 1px solid black; */
}

.headerMenu li {
    display: flex;
    flex-direction: column-reverse;
    font-weight: 700;
    font-size: 22px;
    /* border: 1px solid green; */
}

.headerContainer {
    display: flex;
    flex-direction: row;
}

.logoContainer {
    height: 5vh;
}

.logoContainer img {
    height: 100%;
}